<div class="page-sidebar">
    <ul id="menu" class="x-navigation">  
        <li class="xn-logo"><a href="/si-scd-prod">SI SCD</a></li>
                         
                    <li class="xn-title xn-openable active">Documentation électronique
                        <ul>
                        <li><a href="./public-docelec-dashboard">Statistiques : dashboard</a></li>
                        </ul>					
                        </li>   
                   		
    </ul>
</div>