<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include ('partials/head'); -%> 
   </head>
   <body>
      <div class="page-container">
         <div class="row text-center">
            <h1 style="color:#bec4ca">SI-SCD</h1>
            <p><a href="/login" target="_blanck" type="button" class="btn btn-info">Accéder à l'interface d'administration</a></p>
         </div>
         <div class="col-md-4">
            <div class="panel panel-warning push-up-20">
               <div class="panel-body panel-body-pricing">
                  <h2><small>Documentation électronique</small></h2>
                  <p><span class="fa fa-caret-right"></span> <a href="./public-docelec-dashboard">Statistiques d'usage: dashboard</a></p>
                  <!-- <p><span class="fa fa-caret-right"></span> <a href="./public-docelec-stats-ebooks">Statistiques d'utilisation des ebooks: fichiers à télécharger</a></p> -->
               </div>
               <div class="panel-footer">                                 
                  <a href="./login" target="_blanck" type="button" class="btn btn-info btn-block">Administration</a>
               </div>
            </div>
         </div>
         <div class="col-md-1"></div>
      </div>
      </div>
   </body>
   <%- include ('partials/script') -%>
</html>
